.App {
  text-align: center;
  background: url('https://img.finalfantasyxiv.com/lds/h/1/EPptkGFMvUVk1nm2TndbZGLiW0.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Top-Card {

  padding: 0;
  margin-bottom: 6px;
  color: blue;
}

.Top-Card-Text {
  color: black;
  text-align: center;
}

.Top-Card-Row {
  padding: 12px;
}

.Left-Card {
  width: 75%;

}

.Left-Card-Col {
  padding: 0 auto;
}

.Middle-Card {
  width: 75%;
  margin: 0 auto;
  
}

.Middle-Card-Col {
  padding-left: 50%;
}

.Right-Card {
  width: 75%;
  margin-left: 25%;
}
